BASE_URL=http://localhost

# JWT
JWT_SECRET=EXAMPLE

# Redis
REDIS_URL=redis:6379

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=EXAMPLE
POSTGRES_PASSWORD=EXAMPLE
POSTGRES_DB=EXAMPLE
POSTGRES_NAME=EXAMPLE
